<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yu.zehnit">

    <application
        android:allowBackup="true"
        android:icon="@drawable/small_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/back"
        android:supportsRtl="true"
        android:theme="@style/Theme.HGHD">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/input_not_focus" />

        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".SettingActivity" />
        <activity android:name=".ParamSettingActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".GenerateData"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>
    </application>

</manifest>